<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Deadline</th>
  </tr>
  <tr>
    <td><%= @task.title%></td>
    <td><%= @task.description%></td>
    <td><%= @task.deadline%></td>
  </tr>
</table>
